* {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif; 
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b,  i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
}

h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color: #0082c0;
    font-weight: bold;
    line-height: 1;
}

h4.replace {
    font-size: 20px;
}

.replace, .sidebar-widget h4 {
    font-family: 'Muli', Helvetica, Arial, sans-serif;
}
/******Header*******/

body{
	background: #C8C8C8;	
}

#conteiner{
	margin: 0 auto;
}
/******Menu*******/

li ul {
	display: none;
	position: absolute;
	left: 1em;
}

#menu>ul>li {
	display: inline-block;
	position: relative;
}

#menu {
	padding-top: 5em;
	padding-bottom: 2em;
	margin-left: -150px;
	text-align: center;
	
}

#menu a {
	text-decoration: none;
	color: black;
}

#menu li {
	width: 8em;
	height: 42px;
	line-height: 42px;
	text-decoration: center;
	list-style: none;
	-webkit-border-radius: 5px !important;
	background-image: url('../images/fondo.gif');
}

#menu li:hover>ul {
	display: block;
}

#menu li:hover {
	background-image: url('../images/seleccionado.gif') repeat none center;
}

#menu li:hover>a {	
font-weight: bold;
}

/******Slider*******/
#slider-container{
	width: 930px;
	height: 320px;	
	margin-left: 200px;
	margin-bottom: 20px;
	background: white;
}

.slider {
width: 680px;
height: 320px;
background: black;
float: left;
}

#slide-wrapper {
	width: 410px;
	overflow: hidden;
}

#slide-wrapper ul {
	width:	4100px;
	padding:0;
	margin:0;
}

#slide-wrapper ul li {
	width:410px;
	text-align:	center;
	height:	600px;
	list-style:	none;
	float:	left;
}



/******Submenu*******/
#menuapi {
	width: 248px;
	height: 320px;
	border: 1px solid #d58c32;
	background: #ed9c38;
	float: left;
}

#menuapi h2 {
	text-transform: uppercase;
    text-align: center;
    color: #463114;
    text-shadow: 1px 1px 5px #8d6727;
    font-size: 24px;
    font-weight: bold
}

	.replace {
    font-family: 'Muli', Helvetica, Arial, sans-serif;
    letter-spacing: 0;
	}
	h2{
	display: block;
	line-height: 1;
	-webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
	}

#menuapi .viewport {
	float: left;
    width: 250px;
    height: 210px;
    overflow: hidden;
    position: relative
}

.viewport ul {
	height: 210px;
	display: block;
    top: 0px;
  
}
.overview {
	list-style: none;
    position: absolute;
    padding: 0;
    margin: 0;
    width: 250px;
    left: 0;   
    top: 0; 
    overflow: hidden;
}

.overview li {
    line-height: 1.4;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 6px;    
   
}

.overview li a.menu-box {
    background: #f9b562;
    display: block;
    text-decoration: none;
    height: 40px;
    padding: 12px 10px;
    font-size: 12px;
    color: #FFF;
}

.round_4 {
    -webkit-border-radius: 4px !important;
}

.overview span.title {
    color: #463114;
    margin-bottom: 18px;
    font-size: 18px;
    font-weight: bold;
}

/******container*******/
.container{
	width: 930px;
	height: 500px;
	margin-left: 200px;
	margin-bottom: 20px;
	-webkit-border-radius: 8px !important;
	background: #FFF;
    
}

.overview span.arrow {
    background: url(../img/menu-box-arrow.png) no-repeat left bottom;
    width: 36px;
    height: 36px;
    display: block;
    position: absolute;
    top: 14px;
    right: 7px;
}

.overview li a.menu-box:hover {
    background: #f5bf4c;
    text-decoration: none;
}


/******Fouter*******/

#footer{
	width: 930px;
	height: 392px;
	margin-left: 200px;
	margin-bottom: 20px;
	-webkit-border-radius: 8px !important;
	background: #88AA31;

}

#footer{
	background: url(../img/footer-bg.jpg) no-repeat top center #88aa31;
    padding: 20px 15px 18px;
    margin-bottom: 20px;
    border-top: 1px solid #BCCF4D;
    border-right: 1px solid #88AA31;
    border-bottom: 1px solid #7F9F27;
    border-left: 1px solid #88AA31;
    }

    .col_201 {
    width: 201px;
    margin: 0 10px;

}

.col_212, .col_290, .col_445, .col_146, .col_201, .col_312, .col_240 {
	float: left;
    padding: 0 !important;
    vertical-align: top;
}

.col_240 {
    width: 240px;
    margin: 0 10px;
}

#footer ul {
    padding-left: 0;
    margin-bottom: 6px;
}



.social_icons li {
    display: inline;
    background: none;
    margin: 0 5px 5px 0;
    padding: 0;
    width: 50px;
    height: 49px;
}

#footer li {
	list-style: none;
    padding-bottom: 10px;
    line-height: 1.5;
}

#footer h4 {
    text-transform: uppercase;
    color: #406f29;
    margin-bottom: 15px;
}

#footer a, #footer address {
    color: #FFF;
}

#footer address {
    font-style: normal;
    font-weight: normal;
    font-family: 'Lato', sans-serif;
}

a img {
    border: 0;
    background: none;
}




a {
    text-decoration: none;
    color: #e57200;

}

#footer-bottom {
    border-top: dotted 2px #ADC442;
    clear: both;
    padding: 5px 0 0 12px;
    margin-right: 7px;
    color: #406F29;
    position: relative;
}

#toTop {
    width: 120px;
    background: url(../img/top-arrow-btn.png) no-repeat left 6px;
    text-align: center;
    float: left;
    padding: 5px 5px 0 10px;
    cursor: pointer;
    color: #f5cf47;
}

#footer-note {
    padding-top: 5px;
    padding-right: 10px;
}

.meta-sidebar {
    font-size: 11px;
    line-height: normal;
    color: #6F6F6F;
}

small {    
    margin-left: 404px;   
    font-size: 80%; 
}

.meta-sidebar {
    font-size: 11px;
    line-height: normal;
    color: #6F6F6F;
}

.left {
    float: left;
}
